<form [formGroup]="taskForm">
  <div class="title">Create Task</div>
  <div class="input-container ic1">
    <input id="moduleID" class="input" type="text" formControlName="moduleID" placeholder=" "
      [ngClass]="{'input-validate': moduleIDControl?.invalid && (moduleIDControl?.dirty || moduleIDControl?.touched)}" />
    <div class="cut cut-short2"></div>
    <label for="moduleID" class="placeholder">Module ID</label>
  </div>

  <div class="input-container ic2">
    <input id="taskName" class="input" type="text" formControlName="taskName" placeholder=" " />
    <div class="cut cut-short2"></div>
    <label for="taskName" class="placeholder">Task Name</label>
  </div>

  <div class="input-container ic2">
    <input id="taskType" class="input" type="text" list="listTaskType" formControlName="taskType" placeholder=" "
      appPreventInput
      [ngClass]="{'input-validate': taskTypeControl?.invalid && (taskTypeControl?.dirty || taskTypeControl?.touched)}" />
    <div class="cut cut-short3"></div>
    <label for="taskType" class="placeholder">Task Type</label>
    <datalist id="listTaskType">
      <option *ngFor="let data of dataListType" [value]="data.value"></option>
    </datalist>
  </div>

  <div class="input-container ic2">
    <input id="numRedmine" class="input" type="text" formControlName="numRedmine" placeholder=" "
      [ngClass]="{'input-validate': numRedmineControl?.invalid && (numRedmineControl?.dirty || numRedmineControl?.touched)}" />
    <div class="cut cut-long2"></div>
    <label for="numRedmine" class="placeholder">Num Redmine</label>
  </div>

  <div class="input-container ic2">
    <input id="assignee" class="input" type="text" list="userAssignee" formControlName="assignee" placeholder=" "
      appPreventInput
      [ngClass]="{'input-validate': assigneeControl?.invalid && (assigneeControl?.dirty || assigneeControl?.touched)}" />
    <div class="cut cut-short3"></div>
    <label for="assignee" class="placeholder">Assignee</label>
    <datalist id="userAssignee">
      <option *ngFor="let data of dataListAssigne" [value]="data.value"></option>
    </datalist>
  </div>

  <div class="input-container ic2">
    <input id="priority" class="input" type="text" list="priorityLevel" formControlName="priority" placeholder=" "
      appPreventInput />
    <div class="cut cut-long1"></div>
    <label for="priority" class="placeholder">Priority Level</label>
    <datalist id="priorityLevel">
      <option *ngFor="let data of dataListPriority" [value]="data.value"></option>
    </datalist>
  </div>

  <div class="input-container ic2">
    <input id="dateCreate" class="input" type="text" matInput [matDatepickerFilter]="dateFilter"
      [matDatepicker]="dateCreate" formControlName="dateCreate" placeholder=" "
      [ngClass]="{'input-validate': dateCreateControl?.invalid && (dateCreateControl?.dirty || dateCreateControl?.touched)}" />
    <mat-datepicker-toggle matIconSuffix [for]="dateCreate" class="date-picker"></mat-datepicker-toggle>
    <mat-datepicker #dateCreate></mat-datepicker>
    <div class="cut cut-long1"></div>
    <label for="dateCreate" class="placeholder">Date Created</label>
  </div>

  <div class="input-container ic2">
    <input id="estimatedHour" class="input" type="text" formControlName="estimatedHour" placeholder=" "
      [ngClass]="{'input-validate': estimatedHourControl?.invalid && (estimatedHourControl?.dirty || estimatedHourControl?.touched)}" />
    <div class="cut cut-long3"></div>
    <label for="estimatedHour" class="placeholder">Estimated Hours</label>
  </div>

  <div class="input-container ic2">
    <input id="dateDelivery" class="input" type="text" matInput [matDatepickerFilter]="dateFilter"
      [matDatepicker]="dateDelivery" formControlName="dateDelivery" placeholder=" "
      [ngClass]="{'input-validate': dateDeliveryControl?.invalid && (dateDeliveryControl?.dirty || dateDeliveryControl?.touched)}" />
    <mat-datepicker-toggle matIconSuffix [for]="dateDelivery" class="date-picker"></mat-datepicker-toggle>
    <mat-datepicker #dateDelivery></mat-datepicker>
    <div class="cut cut-long1"></div>
    <label for="dateDelivery" class="placeholder">Date Delivery</label>
  </div>

  <div class="input-container ic3">
    <textarea id="note" class="input" rows="2" formControlName="note" placeholder=" "></textarea>
    <div class="cut cut-short4"></div>
    <label for="note" class="placeholder">Note</label>
  </div>

  <div class="row justify-content-center pt-3">
    <button class="col-3 btn btn-outline-info mr-4" (click)="save()">Save</button>
    <button class="col-3 btn btn-outline-danger" [disabled]="isDelete" (click)="delete()">Delete</button>
    <button class="col-3 btn btn-outline-secondary ml-4" (click)="cancel()">Cancel</button>
  </div>
</form>