<form [formGroup]="taskForm">
  <div class="title">Create Task</div>
  <div class="subtitle">Let's create new task</div>
  <div class="input-container ic1">
    <input id="moduleID" class="input" type="text" placeholder=" " formControlName="moduleID" />
    <div class="cut cut-short1"></div>
    <label for="moduleID" class="placeholder">Module ID</label>
  </div>
  <div class="input-container ic2">
    <input id="taskName" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="taskName" class="placeholder">Task Name</label>
  </div>
  <div class="input-container ic2">
    <input id="taskType" class="input" type="text" list="listTaskType" placeholder=" " />
    <div class="cut cut-short2"></div>
    <label for="taskType" class="placeholder">Task Type</label>
    <datalist id="listTaskType">
      <option value="Coding">
      <option value="Review">
      <option value="Testing">
      <option value="Fixbug">
    </datalist>
  </div>
  <div class="input-container ic2">
    <input id="assignee" class="input" type="text" list="userAssignee" placeholder=" " />
    <div class="cut cut-short1"></div>
    <label for="assignee" class="placeholder">Assignee</label>
    <datalist id="userAssignee">
      <option value="Tuan-VQ">
      <option value="Thing-NT">
      <option value="Duy-PNA">
      <option value="Hieu-MTH">
    </datalist>
  </div>
  <div class="input-container ic2">
    <input id="dateCreated" class="input" type="text" matInput [matDatepickerFilter]="myFilter"
      [matDatepicker]="dateCreated" placeholder=" " />
    <mat-datepicker-toggle matIconSuffix [for]="dateCreated" class="date-picker"></mat-datepicker-toggle>
    <mat-datepicker #dateCreated></mat-datepicker>
    <div class="cut cut-long1"></div>
    <label for="dateCreated" class="placeholder">Date Created</label>
  </div>
  <div class="input-container ic2">
    <input id="estimatedHours" class="input" type="text" placeholder=" " />
    <div class="cut cut-long2"></div>
    <label for="estimatedHours" class="placeholder">Estimated Hours</label>
  </div>
  <div class="input-container ic2">
    <input id="dateDelivery" class="input" type="text" matInput [matDatepickerFilter]="myFilter"
      [matDatepicker]="dateDelivery" placeholder=" " />
    <mat-datepicker-toggle matIconSuffix [for]="dateDelivery" class="date-picker"></mat-datepicker-toggle>
    <mat-datepicker #dateDelivery></mat-datepicker>
    <div class="cut cut-long1"></div>
    <label for="dateDelivery" class="placeholder">Date Delivery</label>
  </div>

  <button type="text" class="submit" (click)="submit()">submit</button>
</form>