form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 50px;
  width: 26vw;
}

textarea {
  font-size: 15px !important;
  padding: 8px 20px 0 !important;
}