body {
  height: 100%;
  margin: 0 !important;
}

.full-page {
  height: 100vh;
  min-height: 100vh;
  background-image: url('src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  height: 60px;
}