@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  height: 100%;
  margin: 0 !important;
}

.boxed {
  height: 100vh;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}