<div *ngIf="loading| async" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div class="container-fluid full-page">
  <div class="row">
    <div class="col header" *ngIf="isAuthenticated">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- 
<button type="button" class="btn btn-outline-info">Yes</button>
<button type="button" class="btn btn-outline-secondary">No</button>
<button type="button" class="btn btn-outline-danger">Yes</button>
<button type="button" class="btn btn-outline-warning">No</button>
<button type="button" class="btn btn-outline-dark">Yes</button> -->