<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">
        <i [ngClass]="{ 'bi bi-question-octagon': data.isConfirm, 'bi bi-exclamation-octagon': !data.isConfirm }"></i>
        {{ title }}
      </h3>
    </div>
    <div class="modal-body">
      <p [innerHTML]="message"></p>
    </div>
    <div class="modal-footer" *ngIf="data.isConfirm">
      <button type="button" class="btn btn-outline-info" (click)="onConfirm()">Yes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">No</button>
    </div>
    <div class="modal-footer" *ngIf="!data.isConfirm">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>