<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{data.isConfirm ? 'Confirm Dialog' : 'Alert Dialog'}}</h3>
    </div>
    <div class="modal-body">
      <p>{{data.message}}</p>
    </div>
    <div class="modal-footer" *ngIf="data.isConfirm">
      <button type="button" class="btn btn-outline-info" (click)="onConfirm()">Yes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">No</button>
    </div>
    <div class="modal-footer" *ngIf="!data.isConfirm">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>