<!-- <div class="row filter-container">
  <mat-card [formGroup]="filterForm" class="col-12" style="background-color: #FFF;" appearance="outlined">
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <mat-select formControlName="assignee" placeholder="Choose User" multiple>
              <mat-option #allSelectedAssignee (click)="toggleAllSelection(allSelectedAssignee)"
                [value]="0">All</mat-option>
              <mat-option *ngFor="let assignee of allAssignees" [value]="assignee.value">
                {{assignee.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">{{this.filterForm.controls['assignee'].value}}</div>

      </div>
    </mat-card-content>
  </mat-card>
</div> -->
<div class="row full-height justify-content-center">
  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-clipboard-data"></i>
        </div>
        <div class="row">
          <div class="col-10">
            <h3>Waiting</h3>
          </div>
          <div class="col-auto icon-setting"><a (click)="addTaskDialog()"><i class=" bi bi-gear-fill"></i></a></div>
        </div>
      </div>
      <div class="header-footer"></div>
    </div>

    <div class="col-task">
      <div class="col-task-list" cdkDropList #newTaskList="cdkDropList" [cdkDropListData]="initTask"
        [cdkDropListConnectedTo]="[inProgressList, pendingList, completedList]" (cdkDropListDropped)="drop($event)">
        <div class="row" *ngFor="let task of initTask" cdkDrag>
          <div class="card" (dblclick)="editTaskDialog(task.moduleID)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action"></div>
                <div class="fixed-action">
                  <a (click)="deleteTask(Status.WAITING, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress < 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress >= 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.CODING">
                    <i class="bi bi-file-earmark-code"></i>&nbsp;Coding
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.TESTING">
                    <i class="bi bi-bug"></i>&nbsp;Testing
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.REVIEW">
                    <i class="bi bi-eye"></i>&nbsp;Review
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.FIXBUG">
                    <i class="bi bi-file-earmark-check"></i>&nbsp;Fixbug
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ getNameAssignee(task.assignee) }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-hourglass-split"></i>
        </div>
        <h3>In Progress</h3>
      </div>
      <div class="header-footer"></div>
    </div>

    <div class="col-task">
      <div class="col-task-list" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[newTaskList, pendingList, completedList]" (cdkDropListDropped)="drop($event)">
        <div class="row" *ngFor="let task of inProgress" cdkDrag>
          <div class="card" (dblclick)="editTaskDialog(task.moduleID)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action">
                  <a (click)="editTaskProgressDialog(task.moduleID)"><i class="bi bi-pencil-square"></i></a>
                </div>
                <div class="fixed-action">
                  <a (click)="deleteTask(Status.PROGRESS, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress < 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress >= 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.CODING">
                    <i class="bi bi-file-earmark-code"></i>&nbsp;Coding
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.TESTING">
                    <i class="bi bi-bug"></i>&nbsp;Testing
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.REVIEW">
                    <i class="bi bi-eye"></i>&nbsp;Review
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.FIXBUG">
                    <i class="bi bi-file-earmark-check"></i>&nbsp;Fixbug
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assignee }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-pause-circle"></i>
        </div>
        <h3>Pending</h3>
      </div>
      <div class="header-footer"></div>
    </div>

    <div class="col-task">
      <div class="col-task-list" cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pending"
        [cdkDropListConnectedTo]="[newTaskList, inProgressList, completedList]" (cdkDropListDropped)="drop($event)">
        <div class="row" *ngFor="let task of pending" cdkDrag>
          <div class="card" (dblclick)="editTaskDialog(task.moduleID)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action"></div>
                <div class="fixed-action">
                  <a (click)="deleteTask(Status.PENDING, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress < 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress >= 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.CODING">
                    <i class="bi bi-file-earmark-code"></i>&nbsp;Coding
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.TESTING">
                    <i class="bi bi-bug"></i>&nbsp;Testing
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.REVIEW">
                    <i class="bi bi-eye"></i>&nbsp;Review
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.FIXBUG">
                    <i class="bi bi-file-earmark-check"></i>&nbsp;Fixbug
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assignee }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-clipboard2-check"></i>
        </div>
        <h3>Completed</h3>
      </div>
      <div class="header-footer"></div>
    </div>

    <div class="col-task">
      <div class="col-task-list" cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[newTaskList, inProgressList, pendingList]" (cdkDropListDropped)="drop($event)">
        <div class="row" *ngFor="let task of completed" cdkDrag>
          <div class="card" (dblclick)="editTaskDialog(task.moduleID)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress < 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress >= 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.CODING">
                    <i class="bi bi-file-earmark-code"></i>&nbsp;Coding
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.TESTING">
                    <i class="bi bi-bug"></i>&nbsp;Testing
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.REVIEW">
                    <i class="bi bi-eye"></i>&nbsp;Review
                  </h4>
                  <h4 class="task-type" *ngIf="task.taskType == TaskType.FIXBUG">
                    <i class="bi bi-file-earmark-check"></i>&nbsp;Fixbug
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assignee }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>