<div class="row">
  <div class="col-3 example-container">
    <h2>Waiting</h2>

    <div cdkDropList #newTaskList="cdkDropList" [cdkDropListData]="newTask"
      [cdkDropListConnectedTo]="[inProgressList, pendingList, completedList]" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box"><button (click)="openDialog()">Create new Task</button></div>
      <div class="example-box" *ngFor="let item of newTask" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="col-3 example-container">
    <h2>In Progress</h2>

    <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[newTaskList, pendingList, completedList]" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="col-3 example-container">
    <h2>Pending</h2>

    <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pending"
      [cdkDropListConnectedTo]="[newTaskList, inProgressList, completedList]" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of pending" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="col-3 example-container">
    <h2>Completed</h2>

    <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[newTaskList, inProgressList, pendingList]" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of completed" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>