<div class="row full-page justify-content-center">
  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-clipboard-data"></i>
        </div>
        <div class="row">
          <div class="col-10">
            <h3>Waiting</h3>
          </div>
          <div *ngIf="!isRead" class="col-auto icon-setting">
            <a (click)="addTaskDialog()"><i class=" bi bi-gear-fill"></i></a>
          </div>
        </div>
      </div>
      <div class="header-footer"></div>
    </div>
    <div class="col-task">
      <div id="waiting" class="col-task-list" cdkDropList #dataWaiting="cdkDropList" [cdkDropListData]="dataColWaiting"
        [cdkDropListConnectedTo]="[dataProgress, dataPending]" (cdkDropListDropped)="onDrop($event)">
        <div class="row" *ngFor="let task of dataColWaiting" cdkDrag [cdkDragData]="task">
          <div class="card" (dblclick)="editTaskDialog(Status.WAITING, task.id)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action"></div>
                <div *ngIf="!isRead" class="fixed-action">
                  <a (click)="deleteTask(Status.WAITING, task.id, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress <= 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress > 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type">
                    <i [ngClass]="getTasktype(task.type).icon"></i>&nbsp;{{ getTasktype(task.type).name }}
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assigneeName }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-hourglass-split"></i>
        </div>
        <h3>In Progress</h3>
      </div>
      <div class="header-footer"></div>
    </div>
    <div class="col-task">
      <div id="progress" class="col-task-list" cdkDropList #dataProgress="cdkDropList"
        [cdkDropListData]="dataColProgress" [cdkDropListConnectedTo]="[dataPending, dataCompleted]"
        (cdkDropListDropped)="onDrop($event)">
        <div class="row" *ngFor="let task of dataColProgress" cdkDrag [cdkDragData]="task">
          <div class="card" (dblclick)="editTaskDialog(Status.PROGRESS, task.id)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action">
                  <a (click)="editTaskProgressDialog(task.id, task.moduleID)"><i class="bi bi-pencil-square"></i></a>
                </div>
                <div *ngIf="!isRead" class="fixed-action">
                  <a (click)="deleteTask(Status.PROGRESS, task.id, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress <= 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress > 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type">
                    <i [ngClass]="getTasktype(task.type).icon"></i>&nbsp;{{ getTasktype(task.type).name }}
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assigneeName }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-pause-circle"></i>
        </div>
        <h3>Pending</h3>
      </div>
      <div class="header-footer"></div>
    </div>
    <div class="col-task">
      <div id="pending" class="col-task-list" cdkDropList #dataPending="cdkDropList" [cdkDropListData]="dataColPending"
        [cdkDropListConnectedTo]="[dataProgress, dataCompleted]" (cdkDropListDropped)="onDrop($event)">
        <div class="row" *ngFor="let task of dataColPending" cdkDrag [cdkDragData]="task">
          <div class="card" (dblclick)="editTaskDialog(Status.PENDING, task.id)"
            [ngClass]="{ 'priority-high': task.priority == TaskPriority.HIGH, 'priority-medium': task.priority == TaskPriority.MEDIUM }">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
                <div class="fixed-action"></div>
                <div *ngIf="!isRead" class="fixed-action">
                  <a (click)="deleteTask(Status.PENDING, task.id, task.moduleID)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress <= 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress > 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type">
                    <i [ngClass]="getTasktype(task.type).icon"></i>&nbsp;{{ getTasktype(task.type).name }}
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assigneeName }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-task-container">
    <div class="col-task-header">
      <div class="header-banner"></div>
      <div class="header-body">
        <div class="header-icon d-flex justify-content-center align-items-center">
          <i class="bi bi-clipboard2-check"></i>
        </div>
        <h3>Completed</h3>
      </div>
      <div class="header-footer"></div>
    </div>
    <div class="col-task">
      <div id="completed" class="col-task-list" cdkDropList #dataCompleted="cdkDropList"
        [cdkDropListData]="dataColCompleted" (cdkDropListDropped)="onDrop($event, Status.COMPLETED)">
        <div class="row" *ngFor="let task of dataColCompleted">
          <div class="card no-select" (dblclick)="editTaskDialog(Status.COMPLETED, task.id)">
            <div class="table">
              <div class="row row-text">
                <div class="fixed-module-id">
                  <h4><i class="bi bi-journal-bookmark-fill"></i>&nbsp;{{ task.moduleID }}</h4>
                </div>
              </div>
              <div class="row row-text">
                <div class="fixed-task-name">
                  <h2> {{ task.taskName }} </h2>
                </div>
                <div class="progress blue">
                  <span class="progress-left"
                    [ngStyle]="{ '--progress-left': task.progress <= 50 ? '0deg' :getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right"
                    [ngStyle]="{'--progress-right': task.progress > 50 ? '180deg' : getProgress(task.progress) }">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">{{ task.progress }}%</div>
                </div>
                <div class="col full-height"></div>
              </div>
              <div class="row row-text table-footer">
                <div class="fixed-width-type">
                  <h4 class="task-type">
                    <i [ngClass]="getTasktype(task.type).icon"></i>&nbsp;{{ getTasktype(task.type).name }}
                  </h4>
                </div>
                <div class="fixed-width-assignee">
                  <h4><i class="bi bi-person"></i>&nbsp;{{ task.assigneeName }} </h4>
                </div>
                <div class="fixed-width-date">
                  <h4><i class="bi bi-calendar2-event"></i>&nbsp;{{ task.dateDelivery | date:'dd/MM/yyyy' }}</h4>
                </div>
                <div class="fixed-width-time">
                  <h4><i class="bi bi-clock-history"></i>&nbsp; {{ task.workHour }}/{{ task.estimatedHour }}</h4>
                </div>
                <div class="col full-height"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row filter-container">
  <mat-card [formGroup]="filterForm" class="col-12" style="background-color: #FFF;" appearance="outlined">
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <mat-select formControlName="assignee" placeholder="Choose User" multiple>
              <mat-option #allSelectedAssignee (click)="toggleAllSelection(allSelectedAssignee)"
                [value]="0">All</mat-option>
              <mat-option *ngFor="let assignee of allAssignees" [value]="assignee.value">
                {{assignee.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">{{this.filterForm.controls['assignee'].value}}</div>

      </div>
    </mat-card-content>
  </mat-card>
</div> -->