.full-page {
  position: relative;
  z-index: 1;
}

/* ============ Column Task ============ */
.col-task-container {
  width: 100%;
  max-width: 100%;
  height: 85.5vh;
  max-height: 100vh;
  display: inline-block;
  vertical-align: top;
}

.col-task {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.col-task-header .header-banner {
  box-sizing: border-box;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(0, 163, 191);
  height: 26px;
  color: rgb(9, 30, 66);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.col-task-header .header-body {
  height: 32px;
  padding-left: 74px;
  box-sizing: border-box;
  position: relative;
  color: rgb(9, 30, 66);
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.col-task-header .header-body .header-icon {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
  height: 42px;
  left: 16px;
  position: absolute;
  top: -14px;
  width: 42px;
  color: rgb(9, 30, 66);
  border: 3px solid rgb(255, 255, 255);
}

.col-task-header .header-body .header-icon i {
  font-size: 32px;
}

.col-task-header .header-body h3 {
  box-sizing: border-box;
  font-size: 24px;
  color: rgb(9, 30, 66);
  text-align: left;
  text-decoration-color: rgb(9, 30, 66);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  white-space: normal;
  text-size-adjust: 100%;
  background-color: rgb(255, 255, 255);
  cursor: default;
}

.col-task-header .header-body .icon-setting {
  height: 100%;
  margin-top: 5px;
}

.col-task-header .header-body .icon-setting a {
  font-size: 22px;
  transition: transform 0.5s ease;
  display: inline-block;
}

.col-task-header .header-body .icon-setting a:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.col-task-header .header-footer {
  box-sizing: border-box;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(0, 163, 191);
  height: 6px;
  color: rgb(9, 30, 66);
}

.col-task .col-task-list {
  height: 100%;
  border: 1px solid rgba(255, 244, 188, 0.2);
}

/* ============ Drag Drop ============ */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.col-task-list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* ============ Card task ============ */
.card {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin-top: 5px;
  width: 100%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: move;
}

.priority-high {
  background-color: rgb(255 134 134);
}

.priority-medium {
  background-color: rgb(168 198 229);
}

.no-select {
  background-color: #ffecec;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card .table {
  padding: 0px 30px;
  margin-bottom: 0;
}

.card .table h4 {
  font-size: 12px;
}

.card .table .row-text {
  height: 2vh;
}

.card .table .table-body {
  text-align: center;
}

.card .table .table-footer {
  margin-bottom: 4px;
}

.card .table .fixed-width-type {
  position: relative;
  padding-left: 10px;
  min-width: 85px;
  height: 100%;
}

.card .table .fixed-module-id {
  position: relative;
  padding-left: 10px;
  min-width: 380px;
  height: 100%;
}

.card .table .fixed-action {
  position: relative;
  padding-left: 5px;
  min-width: 25px;
  height: 100%;
}

.card .table .fixed-action {
  transition: transform 0.5s ease;
}

.card .table .fixed-action:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.card .table .fixed-task-name {
  position: relative;
  padding-left: 25px;
  min-width: 385px;
  height: 100%;
  margin-top: -5px;
}

.card .table .fixed-width-assignee {
  position: relative;
  min-width: 110px;
  height: 100%;
}

.card .table .fixed-width-date {
  position: relative;
  min-width: 100px;
  height: 100%;
}

.card .table .fixed-width-time {
  position: relative;
  min-width: 102px;
  height: 100%;
}

.card .table .full-height {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

/* ============ Circle Progress Bar ============ */
.card .table .progress {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: none;
  box-shadow: none;
  position: relative;
  margin-top: 5px;
}

.card .table .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ede8e8;
  position: absolute;
  top: 0;
  left: 0;
}

.card .table .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.card .table .progress .progress-left {
  left: 0;
}

.card .table .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.card .table .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.card .table .progress .progress-right {
  right: 0;
}

.card .table .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-right 1.2s linear forwards;
}

.card .table .progress .progress-value {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 10%;
}

.card .table .progress.blue .progress-bar {
  border-color: #049dff;
}

.card .table .progress.blue .progress-value {
  color: #049dff;
}

.card .table .progress.blue .progress-left .progress-bar {
  animation: loading-left 1s linear forwards 1.2s;
}

.toast-all {
  position: absolute;
  bottom: -65px;
  right: 14px;
  z-index: 9;
}

.toast-all .toast {
  width: 300px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.toast-all .toast strong {
  cursor: default;
}

.toast-all .toast-hidden {
  opacity: 0;
  pointer-events: none;
}

.toast-all .toast i {
  color: #049dff;
}

@keyframes loading-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--progress-left));
    transform: rotate(var(--progress-left));
  }
}

@keyframes loading-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--progress-right));
    transform: rotate(var(--progress-right));
  }
}

@media (max-width: 1890px) {
  .card .table .fixed-width-type {
    max-width: 25px;
    min-width: 25px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 1439px) {
  .card .table .fixed-width-time {
    max-width: 18px;
    min-width: 18px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: 1699px) and (max-width: 1890px) {
  .card .table .fixed-module-id {
    min-width: 330px;
  }

  .card .table .fixed-task-name {
    min-width: 335px;
  }

  .card .table .fixed-width-date {
    min-width: 92px;
  }

  .card .table .fixed-width-time {
    max-width: 72px;
    min-width: 72px;
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .card .table .fixed-module-id {
    min-width: 305px;
  }

  .card .table .fixed-task-name {
    min-width: 310px;
  }

  .card .table .fixed-width-date {
    min-width: 92px;
  }

  .card .table .fixed-width-time {
    max-width: 72px;
    min-width: 72px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .card .table .fixed-module-id {
    min-width: 268px;
  }

  .card .table .fixed-task-name {
    min-width: 270px;
  }

  .card .table .fixed-width-assignee {
    min-width: 83px;
  }

  .card .table .fixed-width-date {
    min-width: 92px;
  }

  .card .table .fixed-width-time {
    max-width: 72px;
    min-width: 72px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .card .table .fixed-module-id {
    min-width: 220px;
  }

  .card .table .fixed-task-name {
    min-width: 225px;
  }

  .card .table .fixed-width-assignee {
    min-width: 92px;
  }

  .card .table .fixed-width-date {
    min-width: 92px;
  }
}

@media (max-width: 1279px) {
  .card .table .fixed-module-id {
    min-width: 173px;
  }

  .card .table .fixed-task-name {
    min-width: 180px;
  }

  .card .table .fixed-width-date {
    max-width: 16px;
    min-width: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 1065px) {
  .card .table .fixed-module-id {
    min-width: 173px;
  }

  .card .table .fixed-task-name {
    min-width: 180px;
  }

  .card .table .fixed-action {
    display: none;
  }

  .card .table .progress {
    display: none;
  }

  .card .table .fixed-width-date {
    max-width: 16px;
    min-width: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-height: 850px) {
  .col-task-container {
    height: 80.5vh;
  }

  .card .table .row-text {
    height: 2.8vh;
  }
}

@media (max-height: 640px) {
  .col-task-container {
    height: 75.5vh;
  }

  .card .table .row-text {
    height: 3.5vh;
  }
}


@media (max-height: 530px) {
  .col-task-container {
    height: 70.5vh;
  }

  .card .table .row-text {
    height: 4.5vh;
  }
}