<nav>
  <div class="logo"><img src="../../../assets/images/logo.png" width="36" height="36"></div>
  <div class="logo-title"><a href="/">Work Board</a></div>
  <div class="search-bar" [class.open]="isInputOpen">
    <span class="search" (click)="openSearch()">
      <i class="bi bi-search"></i>
    </span>
    <div class="dropdown" *ngIf="isShowItem">
      <div class="dropdown-toggle selectedOption" id="dropdownMenuButton" data-toggle="dropdown">
        <span> {{ selectedOption }}</span>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let data of dataListFilter" (click)="selectOption(data)">{{ data.value }}</a>
      </div>
    </div>
    <div class="input-search" *ngIf="selectedKeyOption != SearchMode.DATE_DELIVERY && isShowItem">
      <input type="text" [formControl]="searchControl">
    </div>
    <div class="input-date" *ngIf="selectedKeyOption == SearchMode.DATE_DELIVERY && isShowItem">
      <mat-date-range-input class="input-range-date" [formGroup]="datePickerForm" [rangePicker]="dateRangePickerForm">
        <input matStartDate placeholder="Start date" formControlName="dateStart">
        <input class="input-end" matEndDate placeholder="End date" formControlName="dateEnd">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="dateRangePickerForm"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePickerForm></mat-date-range-picker>
    </div>

    <span class="close-icon">
      <i class="bi bi-x-lg" (click)="closeSearch()"></i>
    </span>
  </div>
  <ul class="list">
    <li><i class="mr-2 input-icon bi bi-person"></i><span>{{ userName }}</span></li>
    <li>
      <a class="bi bi-bell-fill" (click)="clearNoti()"></a>
      <div *ngIf="numNotification > 0" class="notification-box">
        <span class="notification-count">{{ numNotification }}</span>
      </div>
    </li>
    <li class="setting-dropdown">
      <a class="bi bi-gear-fill dropdown-toggle" data-toggle="dropdown"> </a>
      <div class="dropdown-menu setting">
        <a class="dropdown-item">Setting User</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="dowloadFileWBS()">Export File WBS</a>
      </div>
    </li>
    <li>
      <a class="bi bi-box-arrow-right" (click)="logOut()"></a>
    </li>
  </ul>
</nav>