@font-face {
  font-family: 'SuseFont';
  src: url('assets/fonts/SUSE-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SuseFont', sans-serif !important;
}

/* css text */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'SuseFont', sans-serif !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

textarea {
  resize: none !important;
}

/* css input */
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 25px;
}

.ic2 {
  margin-top: 20px;
}

.ic3 {
  margin-top: 20px;
  height: 70px;
}

.cut-short1 {
  width: 70px !important;
}

.cut-short2 {
  width: 68px !important;
}

.cut-short3 {
  width: 65px !important;
}

.cut-short4 {
  width: 40px !important;
}

.cut-medium {
  width: 78px !important;
}

.cut-long1 {
  width: 82px !important;
}

.cut-long2 {
  width: 87px !important;
}

.cut-long3 {
  width: 95px !important;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-validate {
  border: 1px solid red;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 75px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input-readonly {
  cursor: default;
  color: #808097;
}

.input:focus~.placeholder-readonly {
  color: #808097;
}

.error {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 56%;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 36%;
}

.input:focus~.error,
.input:not(:placeholder-shown)~.error {
  transform: translateY(8px);
}

.input:focus~.error-message,
.input:not(:placeholder-shown)~.error-message {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.error-message {
  color: #808097;
}

.input:focus~.error-message {
  color: #dc2f55;
}

.error-message {
  color: #303244;
  left: 56%;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

/* css button */
.btn {
  width: 100px;
  color: #000000;
  font-size: 14px !important;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  text-decoration: none;
}

/* css button link */
.link {
  color: #c4c3ca;
}

.link:hover {
  color: #17a2b8;
}

.btn-disable {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}