@font-face {
  font-family: 'playfair';
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'playfair', sans-serif !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
