<form [formGroup]="templateWbsForm" appResetInputForm @fadeInOut [ngClass]="{ 'form-fade-out': isClose}">
  <div class="title">Setting Template WBS</div>

  <div class="input-container ic1">
    <input id="moduleId" class="input" type="text" formControlName="moduleId" placeholder=" " appInputDirective />
    <div class="cut cut-short2"></div>
    <label for="moduleId" class="placeholder">Module ID</label>
  </div>

  <div class="input-container ic2">
    <input id="taskName" class="input" type="text" formControlName="taskName" placeholder=" " appInputDirective />
    <div class="cut cut-short2"></div>
    <label for="taskName" class="placeholder">Task Name</label>
  </div>

  <div class="input-container ic2">
    <input id="taskType" class="input" type="text" formControlName="taskType" placeholder=" " appInputDirective />
    <div class="cut cut-short3"></div>
    <label for="taskType" class="placeholder">Task Type</label>
  </div>

  <div class="input-container ic2">
    <input id="assignee" class="input" type="text" formControlName="assignee" placeholder=" " appInputDirective />
    <div class="cut cut-short3"></div>
    <label for="assignee" class="placeholder">Assignee</label>
  </div>

  <div class="input-container ic2">
    <input id="estimatedHour" class="input" formControlName="estimatedHour" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="estimatedHour" class="placeholder">Estimated Hours</label>
  </div>

  <div class="input-container ic2">
    <input id="workHour" class="input" formControlName="workHour" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="workHour" class="placeholder">Work Hour</label>
  </div>

  <div class="input-container ic2">
    <input id="dateWorkStart" class="input" formControlName="dateWorkStart" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="dateWorkStart" class="placeholder">Date Start Work</label>
  </div>

  <div class="input-container ic2">
    <input id="dateWorkEnd" class="input" formControlName="dateWorkEnd" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="dateWorkEnd" class="placeholder">Date End Work</label>
  </div>

  <div class="input-container ic2">
    <input id="dateCreate" class="input" formControlName="dateCreate" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="dateCreate" class="placeholder">Date Create</label>
  </div>

  <div class="input-container ic2">
    <input id="dateDelivery" class="input" formControlName="dateDelivery" placeholder=" " appInputDirective />
    <div class="cut cut-long3"></div>
    <label for="dateDelivery" class="placeholder">Date Delivery</label>
  </div>

  <div class="row justify-content-center pt-3">
    <button class="col-3 btn btn-outline-info mr-4" (click)="save()">Save</button>
    <button class="col-3 btn btn-outline-danger" (click)="clear()">Clear</button>
    <button class="col-3 btn btn-outline-secondary ml-4" (click)="cancel()">Cancel</button>
  </div>
</form>